*, body, html, p, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont,
  Ubuntu, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
